body {
  font-family: 'Poppins', sans-serif;
}
header {
  background-image: url(../img/bg-home-1-d54581d7.jpg);
}
.header_top {
  height: 60px;
  background-color: white;
  font-size: 14px;
}
.logo_header {
  height: 60px;
}
li {
  list-style: none;
  display: inline;
}
a {
  text-decoration: none;
  color: blue;
  line-height: 50px;
  margin: 5px;
  display: inline-block;
}
.third_top_header {
  text-align: right;
}
.sign_up {
  color: skyblue;
  border: 1px solid skyblue;
  padding: 0 8px;
  border-radius: 5px;
}
.container_hamburger {
  height: 60px;
  line-height: 60px;
  margin-right: 10px;
}
.hamburger {
  color: #2485FD;
  line-height: 50px;
  margin: 5px;
  display: inline-block;
}
.form_header {
  background-color: white;
  text-align: center;
  padding: 10px 25px;
  border-radius: 10px;
}
.form_group {
  width:100%;
  margin: 5px 0;
  padding: 10px 5px;
  font-size: 15px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.h2_form_header {
  margin: 15px 0;
  color: #031B4E;
}
.btn {
  width: 100%;
  background-color: #0049FF;
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}
.img_button_google {
  width: 20px;
}

.btn_google {
  width: 100%;
  margin-top: 5px;
  background-color: white;
  color: grey;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}
.central_header {
  margin-top: 100px;
}
.h1_header {
  font-size: 60px;
  color: white;
}
.p_header {
  font-size: 20px;
  color: lightgrey;
  line-height: 35px;
}
/* FINE HEADER */
/* INIZIO MAIN */
.first_section {
  width: 100%;
  background-color: grey;
}
.innovative {
  margin: 50px 0;
  background-color: red;
  text-align: center;
}
.second_section {
  width: 100%;
  background-color: yellow;
}
.third_section {
  width: 100%;
  background-color: green;
}
.fourth_section {
  width: 100%;
  background-color: blue;
}
.fifth_section {
  width: 100%;
  background-color: pink;
}
.sixth_section {
  width: 100%;
  background-color: green;
}
/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  .display_none_xs {
    display: none;
  }
  .display_block_xs {
    display: block;
  }
  .form_header {
    width: 80%;
    margin: 10px auto;
  }
  .text_central_header {
    margin: 10px;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .display_none_md {
    display: none;
  }
  .display_block_md {
    display: block;
  }
  .text_central_header {
    margin: 10px;
  }
}
@media screen and (min-width: 992px) {
  .display_none_lg {
    display: none;
  }
  .wrapper_40 {
    width:40%;
  }
}
