header {
  background-color: green;
  height: 500px;
}
.header_top {
  background-color: blue;
  height: 50px;
}
.central_header {
  background-color: pink;
}
.first_section {
  width: 100%;
  background-color: grey;
}
.innovative {
  margin: 50px 0;
  background-color: red;
  text-align: center;
}
.second_section {
  width: 100%;
  background-color: yellow;
}
/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  .display_none_xs {
    display: none;
  }
  .display_block_xs {
    display: block;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .display_none_md {
    display: none;
  }
  .display_block_md {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .display_none_lg {
    display: none;
  }
  .wrapper_40 {
    width:40%;
  }
}
