body {
  font-family: 'Poppins', sans-serif;
}
header {
  background-color: green;
  height: 850px;
}
.header_top {
  height: 60px;
  background-color: white;
  font-size: 14px;
}
.logo_header {
  height: 60px;
}
li {
  list-style: none;
  display: inline;
}
a {
  text-decoration: none;
  color: blue;
  line-height: 50px;
  margin: 5px;
  display: inline-block;
}
.third_top_header {
  text-align: right;
}
.sign_up {
  color: skyblue;
  border: 1px solid skyblue;
  padding: 0 8px;
  border-radius: 5px;
}
.container_hamburger {
  height: 60px;
  line-height: 60px;
  margin-right: 10px;
}
.hamburger {
  color: #2485FD;
  line-height: 50px;
  margin: 5px;
  display: inline-block;
}
.header_bottom {
  background-image: url(../img/bg-home-1-d54581d7.jpg);
  height: 850px;
}
.central_header {
  background-color: pink;
}
/* FINE HEADER */
/* INIZIO MAIN */
.first_section {
  width: 100%;
  background-color: grey;
}
.innovative {
  margin: 50px 0;
  background-color: red;
  text-align: center;
}
.second_section {
  width: 100%;
  background-color: yellow;
}
.third_section {
  width: 100%;
  background-color: green;
}
.fourth_section {
  width: 100%;
  background-color: blue;
}
.fifth_section {
  width: 100%;
  background-color: pink;
}
.sixth_section {
  width: 100%;
  background-color: green;
}
/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  .display_none_xs {
    display: none;
  }
  .display_block_xs {
    display: block;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .display_none_md {
    display: none;
  }
  .display_block_md {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .display_none_lg {
    display: none;
  }
  .wrapper_40 {
    width:40%;
  }
}
